.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ul {
    display: flex;
    justify-content: space-between;
    width: 20%;
    list-style: none;
}

a {
    color: black;
}

a:hover {
    border: 2px black solid;
}

.active {
    border: 2px black solid;
}